.cl-userButtonPopoverCard,
.cl-card,
.cl-userButton-popover,
.cl-navbar {
  background-color: hsl(var(--popover));
  border-color: hsl(var(--input));
  color: hsl(var(--foreground));
}

.cl-card {
  overflow: hidden;
}

.cl-userPreviewSecondaryIdentifier,
.cl-userButtonPopoverActionButtonText,
.cl-userButtonPopoverActionButtonIconBox,
.cl-userButtonPopoverActionButtonIcon,
.cl-userButtonPopoverActionButtonIcon__manageAccount,
.cl-headerSubtitle,
.cl-profileSectionTitle,
.cl-profileSectionPrimaryButton,
.cl-profileSectionPrimaryButton__password,
.cl-navbarButton,
.cl-navbarButton__account,
.cl-accordionTriggerButton,
.cl-accordionContent,
.cl-accordionContent p,
.cl-profileSectionContent.cl-profileSectionContent__activeDevices,
.cl-profileSectionContent.cl-profileSectionContent__danger,
.cl-dividerText,
.cl-footerActionText,
.cl-formFieldInputShowPasswordIcon,
.cl-breadcrumbsItemBox p,
.cl-breadcrumbsItemBox a,
.cl-form p,
.cl-page span,
.cl-page p {
  color: hsl(var(--muted-foreground));
}
.cl-dividerLine,
.cl-formFieldInput {
  background-color: hsl(var(--muted-foreground) / 0.9);
}

.cl-navbarButton.cl-navbarButton__account.cl-active,
.cl-formFieldLabel,
.cl-footerActionLink,
.cl-footerActionLink:hover {
  color: hsl(var(--foreground));
}

.cl-navbarMobileMenuButton,
.cl-headerTitle,
.cl-headerTitle p,
.cl-headerTitle span,
.cl-profileSectionTitleText,
.cl-badge {
  color: hsl(var(--foreground));
}

.cl-userButtonPopoverFooter,
.cl-internal,
.cl-card.cl-card > :last-child {
  opacity: 0;
  width: 0;
  height: 0;
}

.cl-profileSectionTitle {
  border-bottom: 1px solid hsl(var(--muted-foreground));
}

button.cl-modalBackdrop {
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.cl-modalCloseButton {
  color: hsl(var(--primary));
}
.cl-modalCloseButton:hover,
.cl-modalCloseButton:focus {
  color: hsl(var(--primary) / 0.9);
}

.cl-userButtonPopoverActions button:hover,
.cl-userButtonPopoverActions button:focus,
.cl-page button:hover,
.cl-page button:focus {
  background-color: hsl(var(--muted) / 0.5);
}

.cl-formButtonPrimary {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}
.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus {
  background-color: hsl(var(--primary) / 0.9);
  color: hsl(var(--primary-foreground) / 0.9);
}
.cl-avatarImageActionsRemove {
  color: hsl(var(--destructive));
}
.cl-avatarImageActionsUpload {
  color: hsl(var(--primary));
}

button.cl-formButtonReset,
button[data-localization-key='userProfile.formButtonReset'] {
  background-color: hsl(var(--destructive));
  color: hsl(var(--foreground));
}
button:hover.cl-formButtonReset,
button:focus.cl-formButtonReset,
button[data-localization-key='userProfile.formButtonReset']:hover,
button[data-localization-key='userProfile.formButtonReset']:focus {
  background-color: hsl(var(--destructive) / 0.9);
  color: hsl(var(--foreground));
}

.cl-profileSectionContent.cl-profileSectionContent__activeDevices p,
.cl-profileSectionContent.cl-profileSectionContent__danger p {
  color: hsl(var(--muted-foreground));
}
.cl-profileSectionContent.cl-profileSectionContent__activeDevices span + p,
.cl-profileSectionContent.cl-profileSectionContent__danger span + p {
  color: hsl(var(--foreground));
}

.cl-socialButtonsIconButton {
  border: 1px solid hsl(var(--muted-foreground));
  transition: background-color ease-out 350ms;
}

.cl-socialButtonsIconButton:hover {
  background-color: hsl(var(--muted-foreground));
}
